
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
  html, body {
    margin:0;
    padding:0;
    font-family: "Gotham", Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    scroll-behavior: smooth;
  }
  .parallax {
    /* Full height */
    /* height: 100%;  */
    padding-top: 5%;
    padding-bottom: 5%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile{
    width: 90%;
    height: 100%;
  }
  .profile-body{
    display: flex;
    flex-direction: column;
  }
  .profile-info{
    width: 100%;
  }
  .profile-picture{
    width: 100%;
    height: 400px;
  }

  #about, #works {
    padding: 2rem 0;
    margin: auto;
    width: 70%;
    z-index: 2;
  }
  .normal {
    line-height: 2rem;
    font-size: 1rem;
  }
  .float {
    position: relative;
  }
  #logo {
    position: fixed;
  }
  h1 {
    font-family: "Vanity", Arial, sans-serif;
    font-size: 2rem;
  }
  .pink-dot {
    color: #B28ED1;
  }
  #skills {
    margin-top: 4rem;
  }
  .blank-white {
    display: none;
  }
  .blank-pink {
    display: none;
  }
  .moment-img {
    margin: 0;
    padding: 2rem;
  }
  .row {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #moments-title {
    margin-left: 15%;
  }
  #contact-title {
    color:#ffffff;
  }
  #contact {
    padding: 4rem 15%;
    background-color: #000;
    color: #ffffff;
  }
  #letstalk a {
    font-size: 2rem;
    font-family: "Vanity", Arial, sans-serif;
    font-style: italic;
    color: #ffffff;
    text-decoration: line-through;
    text-decoration-color: #B28ED1;
  }
  #letstalk a:hover {
    text-decoration: none;
    color: #B28ED1;
  }
  .navbar {
    padding: 0;
    background: none;
  }
  .navbar-nav .nav-link {
    color: #898989;
  }
  .navbar-nav .active>.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-nav .show>.nav-link {
    color: #B28ED1;
   }
   .navbar-toggler {
    color: #898989;
     border: none;
   }
  .fa {
    color: #B28ED1;
    font-size: 1rem;
    padding-right: 2rem;
  }
  .fa:hover {
    color: #ffffff;
    text-decoration: none;
  }
.mobile-work {
  margin-bottom: 2rem;
}
a {
    text-decoration:none
}
li {
  list-style:none
}
ul {    
  margin:0
}

ul.nav {    
  margin:0 auto;
  height:100%;        
}
  #moments {
    z-index: 1;
  }

  .btn-info {
    padding: 0;
    color: none;
    background: none;
    border: none;
  }
  .btn-info:hover {
    color: none;
    background: #f5f5f5;
    border: none;
  }
  .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
    background: none;
  }
  .modal-dialog {
    max-width: 100%;
    margin: 0;
  }
  .major-display {
    width: 100%;
    height: auto;
  }
  .btn-dark {
    background-color: #ffffff;
    border-color: #000;
    color: #000;
  }
  .btn-dark:hover {
    background-color: #000;
    border: #000;
    color: #ffffff;
  }
  .modal-body {
    padding: 0;
    margin: auto;
    text-align: center;
  }
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
  html, body {
    margin:0;
    padding:0;
    font-family: "Gotham", Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    scroll-behavior: smooth;
  }
  .parallax {
    /* Full height */
    /* height: 100%;  */
    padding-top: 5%;
    padding-bottom: 5%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile{
    width: 90%;
    height: 100%;
  }
  .profile-body{
    display: flex;
    flex-direction: column;
  }
  .profile-info{
    width: 100%;
  }
  .profile-picture{
    width: 100%;
    height: 400px;
  }

  #about, #works {
    padding: 6rem 0;
    margin: auto;
    width: 70%;
    z-index: 2;
  }
  .normal {
    line-height: 2rem;
    font-size: 1rem;
  }
  .float {
    position: relative;
  }
  #logo {
    position: fixed;
  }
  h1 {
    font-family: "Vanity", Arial, sans-serif;
    font-size: 2.5rem;
  }
  .pink-dot {
    color: #B28ED1;
  }
  #skills {
    margin-top: -4rem;
  }
  .blank-white {
    width: 100%;
    height: auto;
    background-color: #ffffff;
  }
  .blank-pink {
    width: 100%;
    height: auto;
    background-color: #B28ED1;
  }
  .moment-img {
    margin: 0;
    padding: 0;
  }
  .row {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #moments-title {
    margin-left: 15%;
  }
  #contact-title {
    color:#ffffff;
  }
  #contact {
    padding: 4rem 15%;
    background-color: #000;
    color: #ffffff;
  }
  #letstalk a {
    font-size: 2.5rem;
    font-family: "Vanity", Arial, sans-serif;
    font-style: italic;
    color: #ffffff;
    text-decoration: line-through;
    text-decoration-color: #B28ED1;
  }
  #letstalk a:hover {
    text-decoration: none;
    color: #B28ED1;
  }
  .navbar {
    padding: 0;
  }
  .navbar-nav .nav-link {
    color: #898989;
  }
  .navbar-nav .active>.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-nav .show>.nav-link {
    color: #B28ED1;
    border-bottom: 8px solid #B28ED1;
  }
  .fa {
    color: #B28ED1;
    font-size: 1.5rem;
    padding-right: 3rem;
  }
  .fa:hover {
    color: #ffffff;
    text-decoration: none;
  }

a {
    text-decoration:none
}
li {
  list-style:none
}
ul {    
  margin:0
}
.main-nav {
  width:100vh;    
  position: fixed;
  background:none;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: left top;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: left top;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: left top;
  -o-transform: rotate(90deg);
  -o-transform-origin: left top;
  transform: rotate(90deg);
  transform-origin: left top;
  top: 5%;
  left: 100%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 999;
}
ul.nav {    
  margin:0 auto;
  height:100%;        
}
  #moments {
    z-index: 1;
  }

  .btn-info {
    padding: 0;
    color: none;
    background: none;
    border: none;
  }
  .btn-info:hover {
    color: none;
    background: #f5f5f5;
    border: none;
  }
  .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
    background: none;
  }
  .modal-dialog {
    max-width: 80%;
  }
  .major-display {
    width: 100%;
    height: auto;
  }
  .btn-dark {
    background-color: #ffffff;
    border-color: #000;
    color: #000;
  }
  .btn-dark:hover {
    background-color: #000;
    border: #000;
    color: #ffffff;
  }
  .modal-body {
    padding: 0;
    margin: auto;
    text-align: center;
  }
 }

 /* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  html, body {
    margin:0;
    padding:0;
    font-family: "Gotham", Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    scroll-behavior: smooth;
  }
  .parallax {
    /* Full height */
    /* height: 100%;  */
    padding-top: 5%;
    padding-bottom: 5%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile{
    width: 90%;
    height: 100%;
  }
  .profile-body{
    display: flex;
  }
  .profile-info{
    width: 50%;
  }
  .profile-picture{
    width: 50%;
  }

  #about, #works {
    padding: 6rem 0;
    margin: auto;
    width: 70%;
    z-index: 2;
  }
  .normal {
    line-height: 3rem;
    font-size: 1.5rem;
  }
  .float {
    position: relative;
  }
  #logo {
    position: fixed;
  }
  h1 {
    font-family: "Vanity", Arial, sans-serif;
    font-size: 3.5rem;
  }
  .pink-dot {
    color: #B28ED1;
  }
  #skills {
    margin-top: -8rem;
  }
  .blank-white {
    width: 100%;
    height: auto;
    background-color: #ffffff;
  }
  .blank-pink {
    width: 100%;
    height: auto;
    background-color: #B28ED1;
  }
  .moment-img {
    margin: 0;
    padding: 0;
  }
  .row {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #moments-title {
    margin-left: 15%;
  }
  #contact-title {
    color:#ffffff;
  }
  #contact {
    padding: 4rem 15%;
    background-color: #000;
    color: #ffffff;
  }
  #letstalk a {
    font-size: 3.5rem;
    font-family: "Vanity", Arial, sans-serif;
    font-style: italic;
    color: #ffffff;
    text-decoration: line-through;
    text-decoration-color: #B28ED1;
  }
  #letstalk a:hover {
    text-decoration: none;
    color: #B28ED1;
  }
  .navbar {
    padding: 0;
  }
  .navbar-nav .nav-link {
    color: #898989;
  }
  .navbar-nav .active>.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-nav .show>.nav-link {
    color: #B28ED1;
    border-bottom: 8px solid #B28ED1;
  }
  .fa {
    color: #B28ED1;
    font-size: 2rem;
    padding-right: 4rem;
  }
  .fa:hover {
    color: #ffffff;
    text-decoration: none;
  }

a {
    text-decoration:none
}
li {
  list-style:none
}
ul {    
  margin:0
}
.main-nav {
  width:100vh;    
  position: fixed;
  background:none;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: left top;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: left top;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: left top;
  -o-transform: rotate(90deg);
  -o-transform-origin: left top;
  transform: rotate(90deg);
  transform-origin: left top;
  top: 5%;
  left: 100%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 999;
}
ul.nav {    
  margin:0 auto;
  height:100%;        
}
  #moments {
    z-index: 1;
  }

  .btn-info {
    padding: 0;
    color: none;
    background: none;
    border: none;
  }
  .btn-info:hover {
    color: none;
    background: #f5f5f5;
    border: none;
  }
  .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
    background: none;
  }
  .modal-dialog {
    max-width: 80%;
  }
  .major-display {
    width: 100%;
    height: auto;
  }
  .btn-dark {
    background-color: #ffffff;
    border-color: #000;
    color: #000;
  }
  .btn-dark:hover {
    background-color: #000;
    border: #000;
    color: #ffffff;
  }
  .modal-body {
    padding: 0;
    margin: auto;
    text-align: center;
  }
}

 /* wide Layout: 1280px. */
 @media only screen and (min-width: 1201px) { 
  html, body {
    margin:0;
    padding:0;
    font-family: "Gotham", Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    scroll-behavior: smooth;
  }
  .parallax {
    /* Full height */
    /* height: 100%;  */
    padding-top: 5%;
    padding-bottom: 5%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile{
    width: 90%;
    height: 100%;
  }
  .profile-body{
    display: flex;
  }
  .profile-info{
    width: 50%;
  }
  .profile-picture{
    width: 50%;
  }

  #about, #works {
    padding: 6rem 0;
    margin: auto;
    width: 70%;
    z-index: 2;
  }
  .normal {
    line-height: 3rem;
    font-size: 1.5rem;
  }
  .float {
    position: relative;
  }
  #logo {
    position: fixed;
  }
  h1 {
    font-family: "Vanity", Arial, sans-serif;
    font-size: 3.5rem;
  }
  .pink-dot {
    color: #B28ED1;
  }
  #skills {
    margin-top: -8rem;
  }
  .blank-white {
    width: 100%;
    height: auto;
    background-color: #ffffff;
  }
  .blank-pink {
    width: 100%;
    height: auto;
    background-color: #B28ED1;
  }
  .moment-img {
    margin: 0;
    padding: 0;
  }
  .row {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #moments-title {
    margin-left: 15%;
  }
  #contact-title {
    color:#ffffff;
  }
  #contact {
    padding: 4rem 15%;
    background-color: #000;
    color: #ffffff;
  }
  #letstalk a {
    font-size: 3.5rem;
    font-family: "Vanity", Arial, sans-serif;
    font-style: italic;
    color: #ffffff;
    text-decoration: line-through;
    text-decoration-color: #B28ED1;
  }
  #letstalk a:hover {
    text-decoration: none;
    color: #B28ED1;
  }
  .navbar {
    padding: 0;
  }
  .navbar-nav .nav-link {
    color: #898989;
  }
  .navbar-nav .active>.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-nav .show>.nav-link {
    color: #B28ED1;
    border-bottom: 8px solid #B28ED1;
  }
  .fa {
    color: #B28ED1;
    font-size: 2rem;
    padding-right: 4rem;
  }
  .fa:hover {
    color: #ffffff;
    text-decoration: none;
  }

a {
    text-decoration:none
}
li {
  list-style:none
}
ul {    
  margin:0
}
.main-nav {
  width:100vh;    
  position: fixed;
  background:none;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: left top;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: left top;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: left top;
  -o-transform: rotate(90deg);
  -o-transform-origin: left top;
  transform: rotate(90deg);
  transform-origin: left top;
  top: 5%;
  left: 100%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 999;
}
ul.nav {    
  margin:0 auto;
  height:100%;        
}
  #moments {
    z-index: 1;
  }

  .btn-info {
    padding: 0;
    color: none;
    background: none;
    border: none;
  }
  .btn-info:hover {
    color: none;
    background: #f5f5f5;
    border: none;
  }
  .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
    background: none;
  }
  .modal-dialog {
    max-width: 80%;
  }
  .major-display {
    width: 100%;
    height: auto;
  }
  .modal-body {
    padding: 0;
    margin: auto;
    text-align: center;
  }
  .btn-dark {
    background-color: #ffffff;
    border-color: #000;
    color: #000;
  }
  .btn-dark:hover {
    background-color: #000;
    border: #000;
    color: #ffffff;
  }
}  

/* Profile CSS */
.profile{
  box-sizing: border-box;
  font-family: Inter,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
}
.profile-header{
  font-family: Inter,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
  font-size: 160px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-align: left;
  z-index: 10;
  position: relative;
  line-height: 0.5em;
  pointer-events: none;
  flex: 1 100%;
}
.profile-body{
  height: 90%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.profile-info{
  color: #fff;
  background-color: #1f4954;
  padding: 7% 5% 3% 5%;
  text-align: left;
}
.profile-info a, .profile-info a:hover{
  color: #fff;
}
.profile-info-header{
  color: #fff;
  font-size: 58px;
  line-height: 1.3em;
  font-family: "EB Garamond",serif;
  font-weight: 400;
  letter-spacing: -0.3px;
  display: block;
  position: relative;
  margin-bottom: 40px;
}
.profile-info-divider{
  display: block;
  position: relative;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 30px 0;
}
.profile-info-text{
  margin: 0 5em 2em 0;
}
.profile-info-text a{
  text-decoration: underline;
}
.profile-link{
  margin-right: 10px;
  margin-bottom: 20px;
  vertical-align: top;
  display: inline-block;
}
.profile-icon {
  width: 30px;
  height: 30px;
}
.profile-picture{
  background-color: #e7e8ed;
}
.profile-picture img{
  width: 100%;
  /* height: 100%; */
}